body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#display {
    border: 1px solid black;
    width: 500px;
    height: 50px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 40px;
    background-color: white;
}

#prevExpression {
    border: 1px solid black;
    width: 500px;
    height: 50px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 40px;
    background-color: white;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
}

#numbers {
    margin-top: 5px;
}

button {
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 25px;
}